<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>User list</title>
        <link type="text/css" rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>名前</th>
                    <th>email</th>
                    <th>更新</th>
                    <th>削除</th>
                </tr>
            </thead>
            <tbody id="userdata">
            </tbody>
            <p><a href="/create">ユーザーの追加</a></p>
        </table>
        <input type="text" id="username">
        <input type="button" id="searchbutton" value="検索">
        <script type="text/javascript">

            let userName = document.getElementById("username");
            let searchBtn = document.getElementById("searchbutton");
            searchBtn.addEventListener("click", function () {
                while (userData.firstChild) {
                    userData.removeChild(userData.firstChild);
                }
                let getValue = userName.value;
                for (let i = 0; i < userList.length; i++) {
                    if (Number(userList[i].id) == (Number(getValue))) {
                        let resultList2 = `<tr><td>${userList[i].name}</td><td>${userList[i].email}</td></tr>`;
                        userData.insertAdjacentHTML("beforeend", resultList2);
                    }
                };
            })

            let userData = document.getElementById("userdata");
            document.addEventListener("DOMContentLoaded", function () {
                for (let i = 0; i < userList.length; i++) {
                    let resultList = `<tr><td>${userList[i].name}</td><td>${userList[i].email}</td><td><a href="/edit/${userList[i].id}">更新</a></td><td><a href="/delete/${userList[i].id}">削除</td></tr>`;
                    userData.insertAdjacentHTML("beforeend", resultList);
                };
            });
        </script>
    </body>
</html>
