<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>User list</title>
    </head>
    <body>
        <table>
            <tr>
                <th>名前</th>
                <th>email</th>
                <th>更新</th>
                <th>削除</th>
            </tr>
        </table>
        <input type="text" id="username">
        <ul id="list2"></ul>
        <input type="button" id="searchbutton" value="検索">
        <script type="text/javascript">

            //実務課題１
            //textboxの情報を持っている変数
            let userName = document.getElementById("username");
            //ボタンの情報を持っている変数
            let searchBtn = document.getElementById("searchbutton");
            let userList = JSON.parse('<%= JSON.stringify(users) %>'.replace(/&#34;/g, '"'));
            searchBtn.addEventListener("click", function () {
                let getValue = userName.value;
                for (let i = 0; i < userList.length; i++) {
                    if (Number(userList[i].id) == (Number(getValue))) {
                        let resultList = `<li>name:${userList[i].name}</li><li>name:${userList[i].id}</li>`;
                        let list2 = document.getElementById("list2");
                        list2.insertAdjacentHTML("beforeend", resultList);
                        } else{
                        }
                };
            })
        </script>
    </body>
</html>
